@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

// Help me Set up default Styling by using :root
:root{
    --primaryColor: hsl(46, 95%, 29%);
    --hoverColor: hsl(34, 70%, 27%);
    --paleGreen: hsl(96,75%,89%);
    --whiteColor:hsl(0,0%,100%);
    --blackColor:hsl(0,0%,18%);
    --greyTest:hsl(0,0%,75%);
    --bgColor:hsl(113,11%,85%);
    --inputColor:hsl(330,12%,97%);
    --inputColor:hsl(154,14%,90%);


    /* Font ang Typography*/
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: .938rem;
    --smallFontSize: .813rem;
    --smallestFontSize: .75rem; 
}

.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items: center;
    gap: 1.5rem
}

html{
    font-size: 90%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.icon{
    font-size: 98%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.icons{
    font-size: var(--h2FontSize);
    cursor: pointer;
}

img, video{
    height: auto;
    width: 100%;
}

.message{
    display: none;
}

.showMessage{
    display: block;
    color: var(--whiteColor);
    background:rgb(255,0,0);
    border-radius: 3px;
    text-align: center; 
}

.btn{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    padding: .8rem 1rem;
    color: var(--greyTest);

}

.btn .icon{
    margin-left: .5rem;
}

.btn :hover{
    color: var(--primaryColor);
    background: var(--paleGreen);
}


